<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Hamburguesa con Adicionales</title>
    <link rel="stylesheet" href="/css/estiloComidaIndividual.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Grechen+Fuemen&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <div class="imagen-separadora">
        <img src="/images/NuevoLogo.png" alt="Decoración" />
    </div>

    <section class="detalle-container">
        <section class="adicionales-container">
            <h2>Adicionales</h2>
            <form th:object="${adicionalesDTO}" th:action="@{/comida/add_adicionales}" method="post">
                <!--input type="hidden" th:field="*{comidaId}"-->
                <div class="categoria">
                    <div th:each="adicional : ${adicionalesDTO}" class="item">
                        
                        <label th:text="${adicional.name}"></label>
                        <span th:text="${adicional.price}" class="precio"></span>
                    </div>
                </div>
                <button type="submit" class="btn-carrito">AGREGAR AL CARRITO</button>
            </form>
        </section>
        <div class="imagen-hamburguesa">
            <img src="/images/hamburgesa.png" alt="Hamburguesa El Portico">
        </div>
    </section>
</body>
</html>