<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Pórtico - Gourmet</title>
    
    <script src="js/funcionalidad.js"> </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Grechen+Fuemen&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css " th:href="@{/css/estilosLogin.css}">
    <link rel="stylesheet" href="/portico_spring/portico/src/main/resources/static/css/estilosLogin.css">
</head>
<body>
        <header>
            <nav>
                <div class="nav-left">
                    <ul class="indices">
                        <li><a href="somos.html"><button>¿Quiénes Somos?</button></a></li>
                        <li><a href="lading.html#mapaPortico"><button>Sede</button></a></li>
                    </ul>
                </div>
                <div class="logo">
                    <img src="/images/NuevoLogo.png" alt="El Pórtico Gourmet">
                </div>
                <div class="nav-right">
                    <ul class="indices">
                        <li><a href="#carta"><button>Carta</button></a></li>
                        <li><a href="lading.html#contactos"><button>Contáctanos</button></a></li>
                    </ul>
                    <a href="login.html" class="btn-pedido"><button>Haz tu pedido</button></a>
                </div>
            </nav>
        </header>
        
    
        <body>

            <section class="parte4">
                <div class="parte4-container">
                    <!-- Sección de inicio con redes sociales -->
                    <div class="social-login">
                        <button class="google-btn"><i class="bx bxl-google"></i> Continuar con Google</button>
                        <button class="phone-btn"><i class="bx bxs-phone"></i> Continuar con tu celular</button>
                        <button class="facebook-btn"><i class="bx bxl-facebook"></i> Continuar con Facebook</button>
                    </div>
            
                    <!-- Sección de inicio de sesión -->
                    <div class="login-form">
                        <h2>Iniciar sesión</h2>
                        <p>Ingresa los siguientes datos</p>

                        
                        <form th:action="@{/login}" method="post" th:object="${loginForm}">
                            <input type="text" th:field="*{username}" placeholder="Correo electrónico/Usuario" required>
                            <input type="password"th:field="*{password}" placeholder="Contraseña" required>
                            <p class="textoError">El correo y/o la contraseña esta incorrectos, rectificar e intentar de nuevo</p>
                            <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                            <div class="login-buttons">
                                <a href="/clientes/crear" >
                                    <button type="button" class="register-btn">SOY NUEVO</button>
                                </a>
                                <a>
                                    <button type="submit" class="login-btn">INICIAR SESIÓN</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </body>
        
    
    <footer class="footer">

        <div class= "sobre_nosotros columna_footer">
            <ul class="list">
                <li>
                    <div class="logo_footer">
                        <img src="/images/NuevoLogo.png" alt="">
                    </div>
                </li>
                <li><h3>Telefono: 512-345-678</h3></li>
                <li><h3>Direccion: Paseo de la castellana</h3></li>
                <li><h3>Bogotá - Colombia</h3></li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <!--Esta es la otra secciona de footer, no hace nada, es solo decoración-->
        <ul class="list">

            <li>
                <h2>Productos</h2>
            </li>

            <li>
                <a href="#">El Portico</a>
            </li>
            <li>
                <a href="#">Fungi Premium</a>
            </li>
            <li>
                <a href="#">Marinera</a>
            </li>
            <li>
                <a href="#">La Exquisita</a>
            </li>
            <li>
                <a href="#">El Principe</a>
            </li>
            <li>
                <a href="#">La King</a>
            </li>
            <li>
                <a href="#">El Noble</a>
            </li>

        </ul>

        </div>
        
        <span class="division_vertical"></span>

        <div class="columna_footer">
            <!--Esta es la otra secciona de footer, no hace nada, es solo decoración-->
        <ul class="list">

            <li>
                <h2>Contacto</h2>
            </li>

            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Servicio al Cliente</a>
            </li>
            <li>
                <a href="#">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#">Politicas de Privacidad</a>
            </li>
            <li class="social">
                <a href="about.html"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </li>

        </ul>
        </div>
        
    </footer>

</body>
</html>