<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css " th:href="@{/css/estilo_perfil_cliente.css}">

    <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Grechen+Fuemen&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <div class="header-left-icons">
                <img src="/images/perfilCaballo.png" alt="Caballo">
            </div>

            <div class="nav-left">
                <ul class="indices">
                    <li><a href="/pedidos"><button>Pedidos activos</button></a></li>
                </ul>
            </div>


            <div class="logo">
                <img src="/images/NuevoLogo.png" alt="El Pórtico Gourmet">
            </div>

            <div class="nav-right">
                <ul class="indices">
                    <li><a href="#carta"><button>Carta</button></a></li>
                    <li><a th:href="@{/comidas/{id}/tarjetas#contactos(id=${cliente.id})}"><button>Contáctanos</button></a></li>
                </ul>
                <a th:href="@{/comidas/{id}/tarjetas(id=${cliente.id})}" class="btn-pedido"><button>Haz tu pedido</button></a>
            </div>
        </nav>
    </header>

    <!-- Sección de Perfil -->
    <section class="perfil-container">
        <a href="index.html" class="volver">&#8592;</a> <!-- Botón de regreso -->

        <!-- Sección de imagen de perfil -->
        <div class="perfil-imagen">
            <img src="/images/contornoPerfil.png" alt="Imagen de perfil" class="imagen-fondo">
            <img src="/images/personaPerfil.jpeg" alt="Foto de perfil" class="imagen-superior">
            <a href="/login" class="btn-perfil">
                <button class="btn-perfil" >Cerrar Sesión</button>
            </a>
            
        </div>

        <!-- Sección de información del usuario -->
        <div class="perfil-info">
            <h2>Perfil de usuario</h2>
            <div class="info">
                <p th:text="${cliente.name}"><strong>Nombre:</strong></p>
                <p th:text="${cliente.lastName}"><strong>Apellido:</strong></p>
                <p th:text="${cliente.email}"><strong>Correo:</strong></p>
                <p th:text="${cliente.phone}"><strong>Teléfono:</strong></p>
                <hr>
                <p th:text="${cliente.address}"><strong>Dirección:</strong></p>
                <label for="info-adicional">Información adicional:</label>
                <input type="text" id="info-adicional" placeholder="Barrio, conjunto, interior, apartamento, etc..">
            </div>
            <div class="perfil-botones">
                <a th:href="@{/clientes/actualizar/{id}(id=${cliente.id})}" class="btn-modificar">
                    <button class="btn-modificar">MODIFICAR DATOS</button>
                </a>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer" id="contactos">
        <div class="sobre_nosotros columna_footer">
            <ul class="list">
                <li>
                    <div class="logo_footer">
                        <img src="/images/NuevoLogo.png" alt="">
                    </div>
                </li>
                <li>
                    <h3 >Teléfono: 512-345-678</h3>
                </li>
                <li>
                    <h3>Dirección: Paseo de la castellana</h3>
                </li>
                <li>
                    <h3>Bogotá - Colombia</h3>
                </li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <ul class="list">
                <li>
                    <h2>Productos</h2>
                </li>
                <li><a href="#">El Portico</a></li>
                <li><a href="#">Fungi Premium</a></li>
                <li><a href="#">Marinera</a></li>
                <li><a href="#">La Exquisita</a></li>
                <li><a href="#">El Principe</a></li>
                <li><a href="#">La King</a></li>
                <li><a href="#">El Noble</a></li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <ul class="list">
                <li>
                    <h2>Contacto</h2>
                </li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Servicio al Cliente</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Políticas de Privacidad</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>
