<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Adicionales</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Grechen+Fuemen&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">

   
    

    <link rel="stylesheet" type="text/css " th:href="@{/css/estilos_tabla.css}">

</head>
<body>

    <header>
        <nav>
            <div class="nav-left">
                <ul class="indices">
                    <li><a href="#quienes"><button>Perfil</button></a></li>
                    <li><a href="#sede"><button>Productos</button></a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="/images/NuevoLogo.png" alt="El Pórtico Gourmet">
            </div>
            <div class="nav-right">
                <ul class="indices">
                    <li><a href="#carta"><button>Clientes</button></a></li>
                    <li><a href="#contacto"><button>Historial de Pedidos</button></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="historia-overlay">
        <h2>Lista Adicionales</h2>
    </div>

    <div class="table-wrapper">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr th:each="adicional: ${adicionales}">
                        <td th:text="${adicional.name}" data-label="Nombre"></td>
                        <td th:text="${adicional.price}" data-label="Precio"></td>
                        <td class="editarAdicional">
                            <div class="acciones"> 
                                <div class="botonesAdicional">
                                    <a th:href="@{/adicionales/delete/{id}(id=${adicional.id})}"><img class="basuraIcono" src="/images/equis.png" alt="Eliminar"></a>
                                    <a th:href="@{/adicionales/actualizar/{id}(id=${adicional.id})}"><img class="modificarIcono" src="/images/lapizM.png" alt="Modificar"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="/clientes/crear" class="agregarProducto" >
        <button class="agregarProducto">AÑADIR CLIENTE</button>
    </a>

    <footer class="footer">
        <div class="sobre_nosotros columna_footer">
            <ul class="list">
                <li>
                    <div class="logo_footer">
                        <img src="/images/NuevoLogo.png" alt="">
                    </div>
                </li>
                <li>
                    <h3>Teléfono: 512-345-678</h3>
                </li>
                <li>
                    <h3>Dirección: Paseo de la castellana</h3>
                </li>
                <li>
                    <h3>Bogotá - Colombia</h3>
                </li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <ul class="list">
                <li>
                    <h2>Productos</h2>
                </li>
                <li><a href="#">El Portico</a></li>
                <li><a href="#">Fungi Premium</a></li>
                <li><a href="#">Marinera</a></li>
                <li><a href="#">La Exquisita</a></li>
                <li><a href="#">El Principe</a></li>
                <li><a href="#">La King</a></li>
                <li><a href="#">El Noble</a></li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <ul class="list">
                <li>
                    <h2>Contacto</h2>
                </li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Servicio al Cliente</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Políticas de Privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
