<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Hamburguesas</title>
    

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Grechen+Fuemen&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" type="text/css " th:href="@{/css/estilos_tarjetas_comidas.css}">


</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <!-- Contenedor para las imágenes a la izquierda -->
            <div class="header-left-icons">
                <a th:href="@{/clientes/{user_id}(user_id=${dto.user_id})}">
                    <div class="perfil-icon">
                        <img src="/images/perfilCaballo.png" alt="Caballo">
                        <span class="icon-text">Perfil</span> <!-- Texto debajo de la imagen "Caballo" -->
                    </div>
                </a>
                <a th:href="@{/comidas/{user_id}/carrito(user_id=${dto.user_id})}">
                    <div class="cart-icon">
                        <img src="/images/carrito.png" alt="Carrito">
                        <span class="icon-text">Carrito</span> <!-- Texto debajo de la imagen "Carrito" -->
                    </div>
                </a>
                
            </div>
    
            <div class="nav-left">
                <ul class="indices">
                    <li><a href="#quienes"><button>¿Quiénes Somos?</button></a></li>
                    <li><a href="#sede"><button>Sede</button></a></li>
                </ul>
            </div>
    
            <div class="logo">
                <img src="/images/NuevoLogo.png" alt="El Pórtico Gourmet">
            </div>
    
            <div class="nav-right">
                <ul class="indices">
                    <li><a href="#carta"><button>Carta</button></a></li>
                    <li><a href="#contacto"><button>Contáctanos</button></a></li>
                </ul>
                <a href="#pedido" class="btn-pedido"><button>Haz tu pedido</button></a>
            </div>
        </nav>
    </header>

    <!-- Contenedor principal -->
    <section class="menu-container">
        
        <!-- Barra lateral de pedidos activos -->
        <div class="sidebar">
            <h2>HAZ TU PEDIDO AQUI</h2>
            <button class="btn-activos">PEDIDOS ACTIVOS</button>
            
        </div>

        <div class="pedido-activo">
            <img src="/images/burger_fuego.jpg" alt="Hamburguesa Activa">
        </div>


         <!-- Buscador y filtro -->
         <div class="menu-header">
            <input type="text" placeholder="Buscar Producto" class="search-bar">
        </div>


        <!-- Sección de tarjetas de hamburguesas -->
        <div class="menu-content">
            
            <!-- Grid de hamburguesas -->
        
            <div th:each="comida : ${dto.comidas}">

                    
                    <a class="producto" th:href="@{/comidas/{user_id}/{id}(user_id=${dto.user_id}, id=${comida.id})}">
                        <div class="card">
                            <img th:src="@{/images/{img}(img=${comida.imagen})}" th:alt="${comida.name}">
                            <h3 th:text="${comida.name}"></h3>
                            <p th:text="${comida.description}"></p>
                            <img class="decoracion" th:src="@{/images/decoracionTarjeta.png}" alt="decoracion dorada">
                        </div>
                    </a>  
                    
                    <!-- Agregar más tarjetas con hamburguesas --> 

            </div>
                
                
                
                              
                

        </div>

    </section>


    <!-- Footer -->
    <footer class="footer">

        <div class="sobre_nosotros columna_footer">
            <ul class="list">
                <li>
                    <div class="logo_footer">
                        <img src="/images/NuevoLogo.png" alt="">
                    </div>
                </li>
                <li>
                    <h3>Telefono: 512-345-678</h3>
                </li>
                <li>
                    <h3>Direccion: Paseo de la castellana</h3>
                </li>
                <li>
                    <h3>Bogotá - Colombia</h3>
                </li>
            </ul>
        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <!--Esta es la otra secciona de footer, no hace nada, es solo decoración-->
            <ul class="list">

                <li>
                    <h2>Productos</h2>
                </li>

                <li>
                    <a href="#">El Portico</a>
                </li>
                <li>
                    <a href="#">Fungi Premium</a>
                </li>
                <li>
                    <a href="#">Marinera</a>
                </li>
                <li>
                    <a href="#">La Exquisita</a>
                </li>
                <li>
                    <a href="#">El Principe</a>
                </li>
                <li>
                    <a href="#">La King</a>
                </li>
                <li>
                    <a href="#">El Noble</a>
                </li>

            </ul>

        </div>

        <span class="division_vertical"></span>

        <div class="columna_footer">
            <!--Esta es la otra secciona de footer, no hace nada, es solo decoración-->
            <ul class="list">

                <li>
                    <h2>Contacto</h2>
                </li>

                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Servicio al Cliente</a>
                </li>
                <li>
                    <a href="#">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="#">Politicas de Privacidad</a>
                </li>
                <li class="social">
                    <a href="about.html"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                </li>

            </ul>
        </div>

    </footer>

</body>
</html>
